<br>
<div class="row" *ngIf="statutContact">
    <div class="col s12">
        <form (ngSubmit)="newContact(contact)">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" name="name" [(ngModel)]="contact.name">
                    <label for="">Name</label>
                </div>
        
        
                <div class="input-field col s6">
                    <i class="fa fa-phone prefix"></i>
                    <input type="text" name="telephone" [(ngModel)]="contact.telephone">
                    <label for="">Telephone</label>
                </div>
            </div>
            <button class="btn btn-large waves-effect waves-light" type="submit">Submit</button>
         </form>

       

        <p>{{ contact | json }}</p>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light" (click)="statutContact = !statutContact">
      <i class="large fa prefix" [ngClass]="{
          'fa-plus': !statutContact,
          'fa-minus': statutContact
      }"></i>
    </a>
</div>